<div class="col-lg-6">
    <h1>{{titulo}}</h1>
    <!-- muestra mensaje si es exitoso -->
    <div class="alert alert-success" *ngIf="status == 'Exitoso'">
        Registro exitoso, <a [routerLink]="['/login']"> inicia sesion.</a>
    </div>
    <!-- muestra mensaje si es fallido -->
     <div class="alert alert-danger" *ngIf="status == 'Error'">
        Registro erroneo
    </div>
    <!--#nombre para angular y que es ngForm, al submit se efectua el metodo onsubmit 
    se ingresa como parametro en onsubmit el registro, para poder resetearlo 
    -->
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-10">
        <p>
            <label>Nombre</label>
            <!-- #name es ngModel, que lo unimos con user.name-->
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
            <!--nombre vacio valid y que haya sido editado tocado -->
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio
            </span>
        </p>
         <p>
            <label>Apellidos</label>
            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required/>
            <span *ngIf="!surname.valid && surname.touched">
                El apellido es obligatorio
            </span>
        </p>
         <p>
            <label>Correo electronico</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required/>
            <span *ngIf="!email.valid && email.touched">
                El correo es obligatorio
            </span>
        </p>
         <p>
            <label>Contraseña</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required/>
            <span *ngIf="!password.valid && password.touched">
                La contraseña es obligatoria
            </span> 
        </p>
            <!--boton de submit, deshabilitado si el registerform no es valido -->
            <input type="submit" name="{{titulo}}" class="bt btn-primary" [disabled]="!registerForm.form.valid"/>
        
        
    </form>
    
</div>
