<div class= "col-lg-6">
	<h1>{{titulo}}</h1>
		<!-- muestra mensaje si es exitoso -->
    <div class="alert alert-success" *ngIf="status == 'success'">
        Logeo exitoso
    </div>
    <!-- muestra mensaje si es fallido -->
     <div class="alert alert-danger" *ngIf="status == 'error'">
        Logeo erroneo
    </div>

		<form #loginForm= "ngForm" (ngSubmit)="onSubmit()" class="col-lg-7">
			<p>
				<label>Correo eletrónico</label>
				<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
			</p>
			<span *ngIf="!email.valid && email.touched">
				El correo es obligatorio
			</span>
			<p>
				<label>Contraseña</label>
				<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
			</p>
			<span *ngIf="!password.valid && password.touched">
				La contraseña es obligatoria
			</span>
			<input type="submit" value="Entrar" class="btn btn-success" />
		</form>


</div>
